<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <strong><h3 class="section-subheading text-muted">Creative design and problem solving:</h3></strong>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/img/2d.svg" alt="" class="service-icons">
        <h4 class="service-heading">2D Design</h4>
        <p class="text-muted text-left"> My two dimensional skill set includes:</p><br>
          <ul class="text-left">
            <li>Vector graphics</li>
            <li>Raster graphics</li>
            <li>Photography</li>
            <li>Document Design</li>
            <li>Video editing</li>
            <li>Animation</li>
          </ul>
      </div>
      <div class="col-md-4">
        <img src="assets/img/3d.svg" alt="" class="service-icons">
        <h4 class="service-heading">3D Modeling & Rendering</h4>
        <p class="text-muted">My skill set in three dimensional design includes:</p><br>
        <ul class="text-left">
          <li>3D Modeling</li>
          <li>Photorealistic rendering</li>
          <li>Materials and mapping</li>
          <li>Scene lighting</li>
          <li>Camera and render setup</li>
          <li>3D Animation</li>
          <li>3D Printing (additive manufacturing)</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img src="assets/img/web.svg" alt="" class="service-icons">
        <h4 class="service-heading">Web Development</h4>
        <p class="text-muted text-left">Marketing department experience in web development and coding.</p>
        <ul class="text-left">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>Jquery</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>
</section>
