// Header styles
// ==========================================

.header {
  text-align: center;
  color: #fff;
  background-image: url(../../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
